// Example Stylus file
//
// Stylus docs:  http://learnboost.github.com/stylus/docs/js.html
// Nib docs:     http://visionmedia.github.com/nib

@import 'nib'

// Main

body, html
  height 100%

body
  font normal 1em sans-serif
  background linear-gradient(top, #eee, #fff)
  text-align center

p
  margin-bottom 1em

a
  color #000a68

h1
  font-size 1.5em
  font-weight normal
  margin 1.5em
  color #333
  text-shadow 1px 1px 2px white

#content
  padding 50px

#info
  position absolute
  right 15%
  width 180px
  top 20px
  background-color #eef2f7
  border-radius 30px
  -webkit-box-shadow rgba(0,0,0,.6) 0px 2px 12px
  -moz-box-shadow rgba(0,0,0,.6) 0px 2px 12px
  z-index 0

#scoreboard
  color #0101df

#blockNum
  color #0101df

#countSecond
  color #df0174
  font-size 25px

#countdownBoard
  position absolute
  left 40%
  top 30px
  width 200px
  background-color #eef2f7
  border-radius 30px
  -webkit-box-shadow rgba(0,0,0,.6) 0px 2px 12px
  -moz-box-shadow rgba(0,0,0,.6) 0px 2px 12px 

// Sign-in Popup Window

#sign_up
  -moz-border-radius 6px
  background #eef2f7
  -webkit-border-radius 6px
  border 1px solid #536376
  -webkit-box-shadow rgba(0,0,0,.6) 0px 2px 12px
  -moz-box-shadow rgba(0,0,0,.6) 0px 2px 12px
  padding 14px 22px
  width 280px
  height 150px
  position relative
  display none

#sign_up #sign_up_form
  margin-top 13px

#sign_up_form div
  display block
  height 40px
  
#sign_up a
  float left
  padding-top 5px
  color #536376
  font-size .9em

#sign_up input
  float right
  width 150px
  height 20px
  font-size .9em

#sign_up_form
  position relative
  padding-bottom 54px
  margin-bottom 12px

#emptyInput
  color #ff0040
  font-size .7em
  padding-top 5x
  visibility hidden

// Game Over Popup Window

#gameOver_popup
  -moz-border-radius 6px
  background #eef2f7
  -webkit-border-radius 6px
  border 1px solid #536376
  -webkit-box-shadow rgba(0,0,0,.6) 0px 2px 12px
  -moz-box-shadow rgba(0,0,0,.6) 0px 2px 12px
  padding 14px 22px
  width 230px
  height 100px
  position relative
  display none

#gameOver_popup a
  margin 0 auto
  color #536376
  font-size 1.2em



// Quick Chat Demo

#demo
  border 1px solid #ccc
  width 700px
  text-align left
  margin 50px auto
  padding 15px
  border-radius 5px
  h3
    font-size 1.0em
    font-weight normal
  h5
    padding 5px 0
    color #666
    font-weight normal
    font-size 0.8em
  #myMessage, #chatlog
    border none
    box-shadow inset 0 0 2px #777
    border-radius 5px
  #myMessage
    width 690px
    padding 5px
  #chatlog
    width 700px
    background-color white
    margin 5px 0
    p
      font-size 0.9em
      color #000a68
      padding 3px 9px
      margin 0
    p:first-child
      padding-top 9px
    p:last-child
      padding-bottom 9px
    span.time
      color #666
      float right
      width 70px
      text-align right
      font-size 0.7em
