<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js canvas - interactive - voxel painter</title>
    	<SocketStream/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}
		</style>
	</head>
	<body>

		<script src="http://threejs.org/build/three.min.js"></script>

		<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
		<script type="text/javascript">
jQuery(function(){
var gameclient = require('./game_client.js');
});
		</script>

	</body>
</html>
